.cars_division{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.inner_car{
	margin: 20px 40px;
	border: 2px solid;
	padding: 20px;
	border-radius: 15px;
}

.input_field,.sort_btn{
	padding: 5px;
	border-radius: 10px;
	margin: 20px;
	border: 2px solid;
}
.details{
	width: 300px;
	height: 200px;
}