*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100svh;
  margin: 0;
  padding: 0;
}
.header{
  width: 100%;
  height: 12svh;
  background-color: white;
  text-align: center;
  align-content: center;
  color: white;
  display: flex;
  /* justify-content: space-between; */
}
.logo{
  width: 10%;
  height: 100%;
  align-content: center;
}
.nav_bar{
  width: 75%;
  height: 100%;
}
.nav_bar ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.2vmax;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.nav{
  display: flex;
}
.nav li{
  /* margin: auto 20px; */
  color: black;
}
.hero{
  height: 68svh;
  width: 100%;
  display: flex;
}
.side_bar{
  width: 15%;
  height: 100%;
  background-color: aqua;
  color: white;
  font-size: 24px;
}
.side_bar ul{
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  text-decoration: none;
  background-color: grey;
}
.side_bar ul li{
  color: black;
  /* background-color: white; */
  text-align: center;
  border: 1px solid black;
  color: white;
  box-sizing: border-box;
  align-content: center;
}
.li_class{
  width: 100%;
  height: 11.1%;
}
.content{
  width: 85%;
  height: 100%;
  background-color: aquamarine;
  text-align: center;
  align-content: center;
  color: white;
}
.footer{
  height: 20svh;
  width: 100%;
  background-color: black;
  text-align: center;
  align-content: center;
  color: white;
}